:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--flag-space-3xl);
  overflow-x: hidden;
  padding-block: var(--flag-space-2xl);
  width: 100%;
}

h2,
h3,
p {
  max-width: 37.5rem;
  padding-inline: var(--flag-space-md);
  width: 100%;
}

h2 {
  text-align: center;
}

p {
  line-height: var(--flag-line-height-md);
}

ul {
  margin: 0;
  max-width: 37.5rem;
  width: 100%;

  li {
    padding-block-end: var(--flag-space-md);
  }
}

hr {
  max-width: 37.5rem;
}

.about-cards {
  display: grid;
  gap: var(--flag-space-lg);
  padding-inline: var(--flag-space-md);

  .about-card {
    background-color: var(--flag-grey-100);
    border-radius: var(--flag-radius-lg);
    color: var(--flag-secondary-700);
    display: grid;
    gap: var(--flag-space-sm);
    max-width: 35.5rem;
    padding: var(--flag-space-xl);
    width: 100%;
  
    h4,
    p {
      margin: 0;
      padding: 0;
    }
  }
}

flag-tag-group {
  max-width: 37.5rem;
  padding-inline: var(--flag-space-md);
  width: 100%;
}