<h2>{{ 'common.update-password' | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <flag-input
    formControlName="password"
    label="Password"
    type="password"
    [errorMessage]="
      getControlErrorMessage(password) ? (getControlErrorMessage(password) | translate) : undefined
    "
    [required]="true"
  />
  <flag-input
    formControlName="confirmPassword"
    label="Confirm password"
    type="password"
    [errorMessage]="
      getControlErrorMessage(confirmPassword)
        ? (getControlErrorMessage(confirmPassword) | translate)
        : undefined
    "
    [required]="true"
  />
  <div class="action">
    <button flag-button raised type="submit">
      {{ 'common.update' | translate }}
    </button>
  </div>
</form>
