<flag-year-navigator
  [max]="currentRange()[1]"
  [min]="currentRange()[0]"
  [selected]="getSelectedYear()"
  (selectedChange)="setSelectedYear($event)"
/>
<div class="actions">
  <flag-checkbox
    class="show-overseas-regions"
    [checked]="showOverseasRegions()"
    [disabled]="isMainEntity()"
    [label]="'advanced-search.show-overseas-regions' | translate"
    [secondary]="true"
    (click)="toggleShowOverseasRegions()"
  />
  <flag-dropdown
    [amountSelected]="amountOfSelectedEntityTypes()"
    [label]="'advanced-search.type-of-region' | translate"
    [secondary]="true"
    [small]="true"
  >
    @for (entityType of currentEntityTypes(); track $index) {
      <flag-list-item [secondary]="true">
        <flag-checkbox
          [checked]="isSelectedEntityType(entityType.label)"
          [label]="'entity-types.' + entityType.label | translate"
          [secondary]="true"
          (checkedChange)="toggleEntityType(entityType, $event)"
        />
      </flag-list-item>
    }
    <hr flag-divider />
    <flag-list-item [secondary]="true">
      <flag-checkbox
        [label]="'advanced-search.' + selectAllTranslation() | translate"
        [checked]="amountOfSelectedEntityTypes() === currentEntityTypes().length"
        [indeterminate]="isPartialEntityTypeSelection()"
        [secondary]="true"
        (checkedChange)="toggleAllEntityTypes($event)"
      />
    </flag-list-item>
  </flag-dropdown>
  <flag-dropdown
    icon="flag"
    [label]="'flag-categories.' + (activeFlagCategory() | hyphenate) | translate"
    [secondary]="true"
    [small]="true"
  >
    @for (flagCategory of flagCategories; track $index) {
      <button
        flag-list-item
        secondary
        [attr.active]="flagCategory === activeFlagCategory() || undefined"
        (click)="setFlagCategory(flagCategory)"
      >
        {{ 'flag-categories.' + (flagCategory | hyphenate) | translate }}
      </button>
    }
  </flag-dropdown>
  <flag-dropdown icon="sort" label="" [hideChevron]="true" [secondary]="true" [small]="true">
    @for (sortDirection of sortDirections; track $index) {
      <button
        flag-list-item
        secondary
        [attr.active]="sortDirection === activeSortDirection() || undefined"
        (click)="setSortDirection(sortDirection)"
      >
        {{ 'advanced-search.' + sortDirection | translate }}
      </button>
    }
  </flag-dropdown>
  <div flag-button-group>
    @for (option of layoutOptions; track $index) {
      <button
        flag-button
        secondary
        small
        [attr.raised]="option.label === layout() || undefined"
        (click)="setLayout(option.label)"
      >
        <flag-icon>{{ option.icon }}</flag-icon>
      </button>
    }
  </div>
</div>
<flag-dropdown
  class="filters-dropdown"
  icon="tune"
  label=""
  [hideChevron]="true"
  [secondary]="true"
  [small]="true"
>
  Mobile filters
</flag-dropdown>
<flag-dropdown icon="translate" label="" [hideChevron]="true" [small]="true">
  <button
    flag-list-item
    [attr.active]="getCurrentLanguage() === 'en' || undefined"
    (click)="setLanguage('en')"
  >
    English
  </button>
  <button
    flag-list-item
    [attr.active]="getCurrentLanguage() === 'nl' || undefined"
    (click)="setLanguage('nl')"
  >
    Nederlands
  </button>
</flag-dropdown>
