:host {
  align-items: center;
  background-color: var(--flag-white);
  border-radius: var(--flag-radius-lg);
  display: grid;
  gap: var(--flag-space-md);
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  padding: var(--flag-space-xs);
  position: sticky;
  inset-inline: 0;
  top: 0;

  @media screen and (max-width: 85rem) {
    grid-template-columns: 1fr repeat(2, auto);
  }

  @media screen and (max-width: 75rem) {
    grid-template-columns: 1fr auto;
  }
}

.actions {
  display: flex;
  gap: var(--flag-space-md);

  .show-overseas-regions,
  .sorting-dropdown {
    @media screen and (max-width: 85rem) {
      display: none;
    }
  }
  
  @media screen and (max-width: 75rem) {
    display: none;
  }
}

.filters-dropdown {
  display: none;
  
  @media screen and (max-width: 85rem) {
    display: block;
  }
}

.region-filters {
  display: none;

  @media screen and (max-width: 75rem) {
    display: block;
  }
}
