:host {
  align-items: center;
  background-color: var(--flag-grey-400);
  display: grid;
  gap: var(--flag-space-md);
  grid-template-columns: auto 1fr auto;
  inset-inline: 0;
  inset-block-start: 0;
  position: sticky;
  z-index: 3;
  padding: var(--flag-space-xs) var(--flag-space-md);
}
