figure {
  align-items: center;
  cursor: pointer;
  display: grid;
  gap: var(--flag-space-xs);
  grid-template-columns: var(--flag-space-3xl) auto 1fr;
  grid-template-rows: auto;
  margin: 0;
  width: 100%;

  figcaption {
    align-items: baseline;
    display: flex;
    gap: var(--flag-space-xs);

    .name {
      display: -webkit-box;
      line-clamp: 1;
      overflow: hidden;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .alt-parent {
      color: var(--flag-secondary-700);
      font-size: var(--flag-font-size-xs);
      font-weight: var(--flag-font-weight-bold);
      text-transform: uppercase;
    }
  }

  .info {
    align-items: center;
    display: flex;
    gap: var(--flag-space-xs);
    margin-left: var(--flag-space-2xs);

    flag-pill {
      width: max-content;
    }

    .reverse-button {
      height: var(--flag-space-xl);
      width: fit-content;
    }
  }

  &.card {
    gap: var(--flag-space-2xs);
    grid-template-columns: auto;
    grid-template-rows: auto var(--flag-space-xl);

    figcaption {
      height: var(--flag-space-lg);
      overflow: hidden;
    }

    .info {
      margin-left: 0;
    }
  }
}
