@if (isMainEntity()) {
  <flag-list cdkMenu>
    <flag-list-item [secondary]="true">{{ 'common.continents' | translate }}</flag-list-item>
    @for (entity of continents(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="entity.id === selectedEntity()?.id || undefined"
        [routerLink]="['/flags', entity.id]"
      >
        {{ 'entities.' + entity.name | translate }}
      </a>
    }
  </flag-list>
  <flag-list cdkMenu>
    <flag-list-item [secondary]="true">{{ 'common.global' | translate }}</flag-list-item>
    @for (entity of globalEntities(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="entity.id === selectedEntity()?.id || undefined"
        [routerLink]="['/flags', entity.id]"
      >
        {{ 'entities.' + entity.name | translate }}
      </a>
    }
  </flag-list>
} @else {
  @if (selectedEntity(); as selectedEntity) {
    <div class="flag">
      <flag-image
        [src]="selectedEntity.flags?.official?.url ?? ''"
        [alt]="
          'flag-image.alt-text' | translate: { name: 'entities.' + selectedEntity.name | translate }
        "
      />
      <div class="actions">
        <button flag-button rounded small>
          <flag-icon>favorite</flag-icon>
        </button>
        <button flag-button ghost rounded small>
          <flag-icon>open_in_full</flag-icon>
        </button>
      </div>
    </div>
  }
  <flag-list cdkMenu>
    @for (item of entityItems(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="item.active || undefined"
        [attr.disabled]="
          (item.label === 'Entities' && selectedEntity()?.hasNoChildren) || undefined
        "
        [routerLink]="item.path"
      >
        @if (item.icon) {
          <flag-icon>{{ item.icon }}</flag-icon>
        }
        {{ item.label | translate }}
      </a>
    }
  </flag-list>
}
