@if (isMainEntity()) {
  <flag-list cdkMenu>
    <flag-list-item [secondary]="true">{{ 'common.continents' | translate }}</flag-list-item>
    @for (entity of continents(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="entity.id === selectedEntity()?.id || undefined"
        [routerLink]="['/flags', entity.unique_id]"
      >
        {{ 'entities.' + entity.name | translate }}
      </a>
    }
  </flag-list>
  <flag-list cdkMenu>
    <flag-list-item [secondary]="true">{{ 'common.global' | translate }}</flag-list-item>
    @for (entity of globalEntities(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="entity.id === selectedEntity()?.id || undefined"
        [routerLink]="['/flags', entity.unique_id]"
      >
        {{ 'entities.' + entity.name | translate }}
      </a>
    }
  </flag-list>
} @else {
  <app-selected-entity />
  <flag-list cdkMenu>
    @for (item of entityItems(); track $index) {
      <a
        cdkMenuItem
        flag-list-item
        [attr.active]="item.active || undefined"
        [attr.disabled]="
          (item.label === 'Entities' && selectedEntity()?.has_no_children) || undefined
        "
        [fragment]="item.fragment"
        [routerLink]="item.path"
      >
        @if (item.icon) {
          <flag-icon>{{ item.icon }}</flag-icon>
        }
        {{ item.label | translate }}
      </a>
    }
  </flag-list>
}
