:host {
  align-items: center;
  display: grid;
  gap: var(--flag-space-xs);
  grid-template-columns: 1fr auto;
  
  figure {
    align-items: center;
    display: grid;
    gap: var(--flag-space-xs);
    grid-template-columns: auto 1fr;
  
    flag-image {
      height: var(--flag-space-2xl);
    }
  
    figcaption {
      display: -webkit-box;
      line-clamp: 1;
      overflow: hidden;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  
  .info {
    align-items: center;
    display: flex;
    gap: var(--flag-space-xs);
    height: var(--flag-space-xl);
    width: fit-content;
  
    .alt-parent-id {
      font-size: var(--flag-font-size-xs);
      font-weight: var(--flag-font-weight-medium);
    }
  
    .range {
      color: var(--flag-secondary-text);
      font-size: var(--flag-font-size-xs);
    }
  }

  &.card {
    grid-template-columns: 1fr;

    figure {
      grid-template-columns: 1fr;

      flag-image {
        height: auto;
      }
    }
  }
}
