:host {
  align-items: center;
  display: grid;
  gap: var(--flag-space-lg);
  grid-template-columns: 1fr repeat(2, auto);
  
  figure {
    align-items: center;
    display: grid;
    gap: var(--flag-space-xs);
    grid-template-columns: auto 1fr;
  
    flag-image {
      height: var(--flag-space-2xl);
    }
  
    figcaption {
      display: -webkit-box;
      height: var(--flag-space-xl);
      line-clamp: 1;
      line-height: var(--flag-line-height-md);
      overflow: hidden;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  
  .info,
  .actions {
    align-items: center;
    display: flex;
    gap: var(--flag-space-lg);
    height: var(--flag-space-xl);
  }

  .info {
    justify-content: flex-end;
  
    .range {
      color: var(--flag-secondary-text);
      font-size: var(--flag-font-size-xs);
      width: 100%;
    }
  }

  .actions {
    .alt-parent-id {
      font-size: var(--flag-font-size-xs);
      font-weight: var(--flag-font-weight-medium);
    }

    .multiple-flags,
    .reverse-button {
      display: flex;
      gap: var(--flag-space-2xs);
      justify-content: flex-end;
      width: 100%;
    }

    .multiple-flags {
      [flag-button] {
        width: var(--flag-space-xl);
      }
    }

  }

  &.card {
    gap: var(--flag-space-xs);
    grid-template-columns: 1fr;

    figure {
      grid-template-columns: 1fr;

      flag-image {
        height: auto;
      }
    }

    .info,
    .actions {
      gap: var(--flag-space-xs);
    }

    .info {
      grid-row: 2 / 3;
    }
  }
}
