:host {
  animation: 150ms ease-in fadeIn;
  background-color: var(--flag-white);
  box-shadow: var(--flag-elevation-xs);
  height: 100svh;
  opacity: 1;
  overflow-x: hidden;
  width: 20rem;
}

header {
  align-items: center;
  display: grid;
  gap: var(--flag-space-xs);
  grid-template-columns: auto 1fr auto;
  height: var(--flag-space-5xl);
  padding-inline: var(--flag-space-xs);
}

section {
  .layout {
    justify-content: space-between;
  }

  flag-list-item {
    > flag-checkbox {
      margin-inline: var(--flag-space-3xs);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}