<flag-sidepanel
  cdkTrapFocus
  icon="tune"
  [cdkTrapFocusAutoCapture]="true"
  [title]="'common.filters-and-sorting' | translate"
>
  <section>
    <flag-list-item class="layout" [secondary]="true">
      {{ 'advanced-search.layout' | translate }}
      <div flag-button-group>
        @for (option of layoutOptions; track $index) {
          <button
            flag-button
            secondary
            small
            [attr.raised]="option.label === layout() || undefined"
            (click)="setLayout(option.label)"
          >
            <flag-icon>{{ option.icon }}</flag-icon>
          </button>
        }
      </div>
    </flag-list-item>
    <hr flag-divider />
    <flag-list-item [secondary]="true">
      <flag-checkbox
        class="show-overseas-regions"
        [checked]="showOverseasRegions()"
        [label]="'advanced-search.show-overseas-regions' | translate"
        [secondary]="true"
        (click)="toggleShowOverseasRegions()"
      />
    </flag-list-item>
    <hr flag-divider />
    <flag-accordion>
      <flag-collapsible
        icon="sort"
        [label]="'advanced-search.sorting' | translate"
        [secondary]="true"
      >
        <flag-list-item [highlighted]="true" [secondary]="true">
          <div flag-button-group>
            @for (sortDirection of sortDirections; track $index) {
              <button
                flag-button
                secondary
                [attr.raised]="sortDirection === activeSortDirection() || undefined"
                (click)="setSortDirection(sortDirection)"
              >
                {{ 'advanced-search.' + sortDirection | translate }}
              </button>
            }
          </div>
        </flag-list-item>
      </flag-collapsible>
      <flag-collapsible
        [count]="amountOfSelectedEntityTypes()"
        [label]="'advanced-search.regions' | translate"
        [secondary]="true"
      >
        @for (entityType of currentEntityTypes(); track $index) {
          <flag-list-item [highlighted]="true" [secondary]="true">
            <flag-checkbox
              [checked]="isSelectedEntityType(entityType.label)"
              [label]="'entity-types.' + entityType.label | translate"
              [secondary]="true"
              (checkedChange)="toggleEntityType(entityType, $event)"
            />
          </flag-list-item>
        }
        <hr flag-divider secondary />
        <flag-list-item [highlighted]="true" [secondary]="true">
          <flag-checkbox
            [label]="'advanced-search.' + selectAllTranslation() | translate"
            [checked]="amountOfSelectedEntityTypes() === currentEntityTypes().length"
            [indeterminate]="isPartialEntityTypeSelection()"
            [secondary]="true"
            (checkedChange)="toggleAllEntityTypes($event)"
          />
        </flag-list-item>
      </flag-collapsible>
    </flag-accordion>
  </section>
</flag-sidepanel>
