.entity-page {
  display: flex;
  flex-direction: column;
  gap: var(--flag-space-xs);
  margin-block-end: calc(var(--flag-space-2xl) * -1);
  padding-block: var(--flag-space-xl);
  width: 100%;

  > header {
    align-items: center;
    background-color: var(--flag-grey-bg);
    color: var(--flag-secondary-text);
    display: flex;
    height: var(--flag-space-5xl);
    margin-block-start: var(--flag-space-lg);
    padding-inline: var(--flag-space-md);
    position: sticky;
    top: var(--flag-space-4xl);
    z-index: 2;
  }

  > .content {
    align-content: stretch;
    display: grid;
    flex-grow: 1;
    padding-inline: var(--flag-space-md);

    .flags {
      display: grid;
      gap: var(--flag-space-md);
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));

      &.entity-list {
        grid-template-columns: 1fr;
      }
    }
  }

  @media screen and (max-width: 50rem) {
    padding-block-start: 0;
  }
}
