:host {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;

  .advanced-search,
  .timeline {
    align-items: center;
    color: var(--flag-secondary-700);
    display: flex;
    gap: var(--flag-space-md);
    
    p {
      display: none;
    }

    @media screen and (min-width: 60rem) {
      p {
        display: block;
      }
    }
  }

  .advanced-search {
    app-flag-categories-dropdown {
      display: none;
    }

    @media screen and (min-width: 50rem) {
      app-flag-categories-dropdown {
        display: block;
      }
    }
  }
}
