<div class="timeline">
  <p>{{ 'common.timeline' | translate }}</p>
  <flag-year-navigator
    [max]="maxYear()"
    [min]="minYear()"
    [selected]="selectedYear()"
    (selectedChange)="setSelectedYear($event)"
  />
</div>
<div class="advanced-search">
  <p>{{ 'common.advanced-search' | translate }}</p>
  <app-flag-categories-dropdown />
  <button flag-button secondary [flagDropdownTrigger]="advancedSearchDropdown">
    <flag-icon>tune</flag-icon>
  </button>
</div>

<ng-template #advancedSearchDropdown>
  <app-advanced-search-menu />
</ng-template>
