:host {
  background-color: var(--flag-white);
  display: flex;
  height: 100svh;
  position: absolute;
  width: 100svw;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    background-color: var(--flag-white);
    display: flex;
    justify-content: space-between;

    .navigation {
      display: flex;
    }

    @media screen and (max-width: 50rem) {
      grid-template-columns: 1fr;

      .navigation {
        flex-direction: column;
        width: 100%;
      }

      app-main-navigation-actions {
        display: none;
      }
    }
  }

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
  
    router-outlet {
      display: none;
    }
  }
}
