<div cdkTrapFocus class="main-menu" [cdkTrapFocusAutoCapture]="true">
  <div class="header">
    <button flag-button small type="button" (click)="close()">
      <flag-icon>close</flag-icon>
    </button>
    <a class="logo" [routerLink]="['/']">
      <img src="images/flagarchive_logo.svg" alt="Flag Archive logo" />
    </a>
  </div>
  <div cdkMenu class="menu">
    <flag-list>
      @for (item of topMenu(); track $index) {
        <a
          cdkMenuItem
          flag-list-item
          [attr.active]="item.active || undefined"
          [routerLink]="item.path"
        >
          {{ item.label | translate }}
        </a>
      }
    </flag-list>
    <flag-list cdkMenu>
      <hr flag-divider />
      @if (!currentUser()) {
        <a cdkMenuItem flag-list-item routerLink="/signup">
          {{ 'common.sign-up' | translate }}
        </a>
        <a cdkMenuItem flag-list-item routerLink="/login">
          {{ 'common.log-in' | translate }}
        </a>
      } @else {
        <a flag-list-item routerLink="/profile">
          <flag-icon>account_circle</flag-icon>
          {{ currentUser()?.username }}
        </a>
        <button flag-list-item ghost (click)="logOut()">
          {{ 'common.log-out' | translate }}
        </button>
      }
    </flag-list>
  </div>
</div>
