:host {
  animation: easeIn 150ms;
  background-color: var(--flag-white);
  height: 100svh;
  width: 12.5rem;
}

.main-menu {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  .header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: var(--flag-space-xs);
    height: 3.5rem;
    padding-inline: var(--flag-space-xs);
    
    .logo {
      height: 2.25rem;
    
      img {
        height: 100%;
      }
    }

    @media screen and (max-width: 50rem) {
      justify-content: flex-end;

      .logo {
        display: none;
      }
    }
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: var(--flag-space-md);
  }
}

@keyframes easeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }  
}
