@let FLAG_CATEGORY_TRANSLATION = 'advanced-search.flag-category.' + flagCategory() | translate;

<flag-dropdown
  [(isOpen)]="isOpen"
  [label]="FLAG_CATEGORY_TRANSLATION"
  [secondary]="true"
>
  @for (category of flagCategories; track $index) {
    <button
      flag-list-item
      secondary
      role="button"
      [attr.active]="category === flagCategory() || undefined"
      (click)="updateFlagCategory(category)"
    >
      {{ 'advanced-search.flag-category.' + category | translate }}
    </button>
  }
</flag-dropdown>
