@if (selectedEntity(); as entity) {
  <div class="flag">
    <flag-image [src]="entity.flags?.official?.url ?? ''" [alt]="'Flag of ' + entity.name" />
    <button flag-button ghost>
      <flag-icon>open_in_full</flag-icon>
    </button>
  </div>
  <flag-dropdown [label]="activeEntityItem()?.label ?? ''" [(isOpen)]="isDropdownOpen">
    @for (item of entityItems(); track $index) {
      <a
        flag-list-item
        [routerLink]="item.path"
        [attr.active]="item.active || undefined"
        [attr.disabled]="(item.label === 'Entities' && entity.hasNoChildren) || undefined"
        (click)="closeDropdown()"
      >
        {{ item.label }}
      </a>
    }
  </flag-dropdown>
}
