<div class="breadcrumbs">
  @if (!isTablet() || (isTablet() && !isMainEntity())) {
    <flag-breadcrumb-group>
      @if (selectedEntity(); as selectedEntity) {
        @for (entity of breadcrumbs(); track $index) {
          <flag-breadcrumb
            class="parent"
            [hideArrow]="!$last"
            [label]="'entities.' + entity.label | translate"
            [link]="[basePath, entity.id]"
          />
          @if (!$last) {
            <flag-icon class="arrow">pen_size_2</flag-icon>
          }
        }
        <flag-breadcrumb
          [label]="'entities.' + (selectedEntity.name | hyphenate) | translate"
          [link]="['flags', selectedEntity.unique_id, 'entities']"
        />
      }
    </flag-breadcrumb-group>
  }
  @if (isTablet() && isMainEntity()) {
    @if (selectedEntity(); as selectedEntity) {
      <flag-dropdown
        [extraSmall]="true"
        [icon]="isMobile() ? 'more_horiz' : undefined"
        [label]="isMobile() ? '' : ('common.' + selectedMainEntityType() | translate)"
        [secondary]="true"
        [(isOpen)]="isMainEntityTypesMenuOpen"
      >
        @for (type of mainEntityTypes; track $index) {
          <a
            flag-list-item
            secondary
            [attr.active]="type === selectedMainEntityType() || undefined"
            [routerLink]="[basePath, type === 'continents' ? 'af' : 'oc']"
            (click)="closeMainEntityTypesMenu()"
          >
            {{ 'common.' + type | translate }}
          </a>
        }
      </flag-dropdown>
      <flag-icon class="arrow-right">keyboard_arrow_right</flag-icon>
      <flag-dropdown
        [extraSmall]="true"
        [label]="'entities.' + selectedEntity.name | translate"
        [(isOpen)]="isMainEntitiesMenuOpen"
      >
        @for (entity of mainEntities(); track $index) {
          <a
            flag-list-item
            [attr.active]="entity.id === selectedEntity.id || undefined"
            [routerLink]="[basePath, entity.unique_id]"
            (click)="closeMainEntitiesMenu()"
          >
            {{ 'entities.' + entity.name | translate }}
          </a>
        }
      </flag-dropdown>
    }
  }
</div>
