:host {
  align-items: center;
  display: flex;
  min-height: 3.5rem;
  padding-inline: var(--flag-space-md);

  @media screen and (max-width: 50rem) {
    height: 2.5rem;
    padding-inline: var(--flag-space-sm);
  }
}

flag-breadcrumb-group {
  flag-icon {
    color: var(--flag-secondary);
  }
}

.arrow-right {
  color: var(--flag-secondary);
  margin-inline: var(--flag-space-2xs);
}
