<button flag-button secondary [flagDropdownTrigger]="dropdown">
  {{ 'ADVANCED_SEARCH.FLAG_CATEGORY' | translationKey: flagCategory() | translate }}
  <flag-icon>keyboard_arrow_down</flag-icon>
</button>

<ng-template #dropdown>
  <flag-card>
    @for (category of flagCategories; track $index) {
      <button flag-list-item
        role="button"
        [attr.active]="category === flagCategory() || undefined"
        (click)="updateFlagCategory(category)"
      >
        {{ 'ADVANCED_SEARCH.FLAG_CATEGORY' | translationKey: category | translate }}
    </button>
    }
  </flag-card>
</ng-template>
