.content {
  gap: var(--flag-space-sm);
  grid-template-columns: 2fr 1fr;

  flag-tab-group {
    display: none;
  }

  .general-info {
    flag-card-header {
      gap: var(--flag-space-2xs);
      padding-block-end: var(--flag-space-xs);

      .subtitle {
        color: var(--flag-secondary-text);
      }
    }
  }

  .flag-colours {
    gap: var(--flag-space-xs);

    flag-card-content {
      .colours-header {
        font-size: var(--flag-font-size-sm);
        font-weight: var(--flag-font-weight-regular);
      }

      [flag-table] {
        th,
        td {
          &:first-of-type {
            max-width: calc(50svw - var(--flag-space-xl));
            width: 12rem;
          }
        }
        .colour-circle {
          border-radius: 50%;
          float: left;
          height: calc(var(--flag-space-lg) + var(--flag-space-2xs));
          margin-block: var(--flag-space-2xs);
          margin-inline-end: var(--flag-space-xs);
          border: var(--flag-border-size-sm) solid var(--flag-grey-300);
          width: calc(var(--flag-space-lg) + var(--flag-space-2xs));
        }
      }
    }
  }

  @media screen and (max-width: 50rem) {
    align-content: flex-start;
    grid-template-columns: 1fr;

    flag-tab-group {
      display: initial;
    }

    .general-info,
    .flag-colours {
      display: none;

      &.active {
        display: initial;
      }
    }

    .flag-colours {
      flag-card-header {
        display: none;
      }
    }
  }
}