:host {
  background-color: var(--flag-grey-bg);
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  height: 100%;
  position: relative;
  width: 100%;

  @media screen and (max-width: 50rem) {
    grid-template-columns: 1fr;
    height: calc(100% - 3.5rem);
  }
}

app-sidenav {
  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.flags {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: 8rem;

  app-selected-entity {
    align-items: center;
    display: none;
    height: var(--flag-space-5xl);
    justify-content: flex-end;
    padding-inline: var(--flag-space-sm);
    position: absolute;
    inset-block-start: var(--flag-space-4xl);
    inset-inline-end: 0;
    z-index: 3;


    @media screen and (max-width: 50rem) {
      display: flex;
    }
  }
}
