:host {
  background-color: var(--flag-grey-bg);
  display: grid;
  grid-template-columns: 12.5rem 1fr;
  height: 100%;
  position: relative;
  width: 100%;

  @media screen and (max-width: 50rem) {
    grid-template-columns: 1fr;
    height: calc(100% - 3.5rem);
  }
}

app-sidenav {
  @media screen and (max-width: 50rem) {
    display: none;
  }
}

.flags {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-block-end: 5rem;

  app-mobile-entity-bar {
    display: none;

    @media screen and (max-width: 50rem) {
      display: flex;
    }
  }
}
