:host {
  > a {
    border-radius: var(--flag-radius-sm);
    display: grid;
    gap: var(--flag-space-xs);
    padding: var(--flag-space-xs);
    text-decoration: none;
    transition: background-color 150ms ease-in-out;
  }
}

a {
  display: grid;
  grid-template-columns: 1fr auto;

  figure {
    align-items: center;
    display: grid;
    gap: var(--flag-space-xs);
    grid-template-columns: auto 1fr;

    flag-image {
      height: var(--flag-space-2xl);
    }

    figcaption {
      display: -webkit-box;
      line-clamp: 1;
      overflow: hidden;
      word-break: break-all;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }
  
  .info {
    align-items: center;
    display: flex;
    gap: var(--flag-space-xs);
    height: var(--flag-space-xl);
    width: fit-content;

    .alt-parent-id {
      font-size: var(--flag-font-size-xs);
      font-weight: var(--flag-font-weight-medium);  
    }

    .range {
      color: var(--flag-secondary-700);
      font-size: var(--flag-font-size-xs);
    }
  }

  &:visited {
    color: inherit;
  }

  &:not(:has(.info:hover)) {
    &:hover {
      background-color: var(--flag-grey-300);
      color: var(--flag-primary-700);
    }
  
    &:active {
      background-color: var(--flag-grey-100);
      color: var(--flag-primary-600);
    }
  }

  &.card {
    grid-template-columns: 1fr;

    figure {
      grid-template-columns: 1fr;

      flag-image {
        height: auto;
      }
    }
  }
}
