<a
  [class.card]="cardView()"
  [routerLink]="[basePath(), entity().id, entity().hasNoChildren ? 'details' : 'entities']"
>
  <figure>
    <flag-image
      [alt]="'flag-image.alt-text' | translate: { name: 'entities.' + entity().name | translate }"
      [hoistedRight]="entity().hoistedRight ?? false"
      [isReversed]="isReversed()"
      [src]="flagImageSrc() ?? ''"
    />
    <figcaption>
      {{ 'entities.' + (activeRange()?.name ?? entity().name) | translate }}
    </figcaption>
  </figure>
  <div class="info">
    @if (hasAltParentId()) {
      <a
        flag-pill
        class="alt-parent-id"
        type="button"
        [routerLink]="[basePath(), activeAltParentId()]"
        (click)="handleClickEvent($event)"
      >
        {{ activeAltParentId() ?? '' | uppercase }}
      </a>
    }
    @if (activeRange()?.start) {
      <span class="range">{{ activeRange()?.start }} &ndash; {{ activeRange()?.end }}</span>
    }
    @if (entity().flags?.official?.reverseUrl) {
      <button
        flag-button
        extra-small
        rounded
        secondary
        type="button"
        [attr.raised]="isReversed() || undefined"
        (click)="toggleReversed($event)"
      >
        <flag-icon>swap_horiz</flag-icon>
      </button>
    }
  </div>
</a>
