@if (entity(); as entity) {
  <header>
    <a flag-anchor fragment="details" [routerLink]="[]">
      {{ 'common.details' | translate }}
    </a>
  </header>
  <section class="content">
    <flag-tab-group (activeChange)="setActiveSection($event)">
      <flag-tab [label]="'common.general' | translate" />
      <flag-tab [label]="'common.colour.plural' | translate" />
    </flag-tab-group>
    <flag-card
      class="general-info"
      [class.active]="activeSection() === detailsSection.General"
      [elevated]="false"
    >
      <flag-card-header>
        <h3>{{ 'entities.' + (activeRange()?.name ?? entity.name) | translate }}</h3>
        <p class="subtitle">{{ 'entity-types.' + entity.type | translate }}</p>
      </flag-card-header>
      <flag-card-content>
        <div class="grid no-padding">
          <div class="column-lg-4 column-sm-2 key-value">
            <p>{{ 'flag.adopted' | translate }}</p>
            <p>{{ activeFlagRange()?.start ?? '\u2014' }}</p>
          </div>
          <div class="column-lg-4 column-sm-2 key-value">
            <p>{{ 'flag.abolished' | translate }}</p>
            <p>{{ activeFlagRange()?.end ?? '\u2014' }}</p>
          </div>
          <div class="column-lg-4 column-sm-2 key-value">
            <p>{{ 'flag.ratio' | translate }}</p>
            <p>{{ activeFlagRange()?.ratio ?? activeFlag()?.ratio ?? '\u2014' }}</p>
          </div>
          <div class="column-lg-4 column-sm-2 key-value">
            <p>{{ 'flag.nickname' | translate }}</p>
            <p>{{ activeFlagRange()?.nickname ?? activeFlag()?.nickname ?? '\u2014' }}</p>
          </div>
          <div class="column-lg-4 column-sm-2 key-value">
            <p>{{ 'flag.designed-by' | translate }}</p>
            <p>{{ activeFlagRange()?.designed_by ?? activeFlag()?.designed_by ?? '\u2014' }}</p>
          </div>
        </div>
      </flag-card-content>
    </flag-card>
    <flag-card
      class="flag-colours"
      [class.active]="activeSection() === detailsSection.Colours"
      [elevated]="false"
    >
      <flag-card-header>
        <h3 class="column-lg-12 colours-header">
          {{ 'flag.colour.plural' | translate }}
        </h3>
      </flag-card-header>
      <flag-card-content>
        @if (activeFlag()?.colours; as colours) {
          <table flag-table>
            <thead>
              <tr>
                <th>{{ 'flag.colour.singular' | translate }}</th>
                <th>{{ 'flag.pms' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (colour of colours; track $index) {
                <tr>
                  <td>
                    <div
                      class="colour-circle"
                      [style.backgroundColor]="'#' + colour.hexadecimal"
                    ></div>
                    {{ 'colours.' + colour.name | translate }}
                  </td>
                  <td>{{ colour.pms | titlecase }}</td>
                </tr>
              }
            </tbody>
          </table>
        } @else {
          <p class="placeholder-text">{{ 'pages.details.no-colour-data' | translate }}</p>
        }
      </flag-card-content>
    </flag-card>
  </section>
}
