<header>
  <div class="title" role="button" tabindex="0" (click)="goToHome()" (keydown)="goToHome()">
    <img src="images/logo.svg" alt="Flag Archive Logo" />
    {{ 'COMMON.APP_NAME' | translate }}
    <flag-pill type="secondary">Beta 2.0</flag-pill>
  </div>
  <div class="menu-list">
    <button flag-button ghost [flagDropdownTrigger]="translateMenuTemplate">
      <flag-icon>translate</flag-icon>
    </button>
    <button flag-button ghost [flagDropdownTrigger]="mainMenuTemplate">
      <flag-icon>menu</flag-icon>
    </button>
  </div>
</header>

<ng-template #mainMenuTemplate>
  <flag-card>
    @if (currentUser()) {
      @if (isAdmin()) {
        <button flag-list-item (click)="goToCreate()">
          <flag-icon>create</flag-icon>
          {{ 'COMMON.CREATE' | translate }}
        </button>
      }
      <button flag-list-item (click)="logOut()">
        <flag-icon>logout</flag-icon>
        {{ 'COMMON.LOGOUT' | translate }}
      </button>
    } @else {
      <button flag-list-item (click)="goToLogin()">
        <flag-icon>login</flag-icon>
        {{ 'COMMON.LOGIN' | translate }}
      </button>
    }
  </flag-card>
</ng-template>

<ng-template #translateMenuTemplate>
  <flag-card>
    @for (language of languages; track language) {
      <button
        flag-list-item
        [attr.active]="activeLanguage() === language || undefined"
        (click)="setLanguage(language)"
      >
        {{ 'LANGUAGES.' + language | uppercase | translate }}
      </button>
    }
  </flag-card>
</ng-template>
