<flag-breadcrumb-group>
  <flag-breadcrumb icon="home" label="Home" [hideLabel]="true" [link]="['']" />
  @if (selectedEntity(); as selectedEntity) {
    @for (parentId of selectedEntity.parentIds; track $index) {
      <flag-breadcrumb
        class="parent"
        [hideArrow]="selectedEntity.parentIds?.length !== $index + 1"
        [label]="parentId"
        [link]="['flags', parentId]"
      />
      @if (selectedEntity.parentIds?.length !== $index + 1) {
        <flag-icon class="arrow">pen_size_2</flag-icon>
      }
    }
    <flag-breadcrumb [label]="selectedEntity.name" [link]="[]" />
  }
</flag-breadcrumb-group>
