<app-advanced-search-bar />
<div class="content">
  @if (activeFlag(); as activeFlag) {
    <flag-tag-group>
      @for (category of categories(); track $index) {
        <flag-tag>
          {{ 'flag-categories.' + (category | hyphenate) | translate }}
        </flag-tag>
      }
    </flag-tag-group>
  }
  <div class="flags">
    @for (flag of flags(); track $index) {
      <div class="flag">
        <figure>
          <flag-image [src]="flag.url" [alt]="entity()?.name ?? ''" />
        </figure>
        <flag-usage-symbol
          [flagTooltip]="setCategoriesTooltip(flag.categories)"
          [categories]="flag.categories"
        />
      </div>
    }
    @for (flag of rangedFlags(); track $index) {
      <div class="flag">
        <figure>
          <flag-image [src]="flag.url ?? ''" [alt]="entity()?.name ?? ''" />
        </figure>
        <flag-usage-symbol [categories]="flag.categories ?? activeFlag()?.categories ?? []" />
      </div>
    }
  </div>
</div>
