<a flag-button ghost small routerLink="/about">
  {{ 'common.about' | translate }}
</a>
@if (!currentUser() || mainPage() === 'profile') {
  @if (mainPage() === 'home') {
    <a flag-button ghost small routerLink="/signup">
      {{ 'common.sign-up' | translate }}
    </a>
    <a flag-button small routerLink="/login">
      <flag-icon>login</flag-icon>
      {{ 'common.log-in' | translate }}
    </a>
  }
} @else {
  <a flag-button ghost small routerLink="/profile">
    <flag-icon>account_circle</flag-icon>
    {{ currentUser()?.username }}
  </a>
}
<flag-dropdown
  icon="translate"
  label=""
  [hideChevron]="true"
  [small]="true"
  [(isOpen)]="isLanguageMenuOpen"
>
  <button
    flag-list-item
    [attr.active]="getCurrentLanguage() === 'en' || undefined"
    (click)="setLanguage('en')"
  >
    English
  </button>
  <button
    flag-list-item
    [attr.active]="getCurrentLanguage() === 'nl' || undefined"
    (click)="setLanguage('nl')"
  >
    Nederlands
  </button>
</flag-dropdown>
