flag-card {
  background-color: var(--flag-secondary-100);
  color: var(--flag-secondary-700);
  display: grid;
  gap: var(--flag-space-2xs);

  section {
    background-color: var(--flag-white);
    display: grid;
    gap: var(--flag-space-xs);
    padding: var(--flag-space-sm);

    &.flag-categories {
      app-flag-categories-button {
        width: 100%;
      }

      @media screen and (min-width: 40rem) {
        display: none;
      }
    }

    &.layout {
      grid-template-columns: 1fr auto;
    }

    header {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    .toggle {
      background-color: var(--flag-secondary-200);
      border-radius: var(--flag-radius-sm);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: hidden;

      button {
        border-radius: 0;
      }
    }
  }
}
