.content {
  gap: var(--flag-space-sm);
  grid-template-columns: 2fr 1fr;

  flag-tab-group {
    display: none;
  }

  .flag-info {
    flag-card-content {
      .grid {
        flag-tag-group {
          margin-block: var(--flag-space-md);
        }

        .colours-header {
          font-size: var(--flag-font-size-sm);
          font-weight: var(--flag-font-weight-regular);
        }

        [flag-table] {
          th,
          td {
            &:first-of-type {
              max-width: calc(50svw - var(--flag-space-xl));
              width: 12rem;
            }
          }
          .colour-circle {
            border-radius: 50%;
            float: left;
            height: calc(var(--flag-space-lg) + var(--flag-space-2xs));
            margin-block: var(--flag-space-2xs);
            margin-inline-end: var(--flag-space-xs);
            border: var(--flag-border-size-sm) solid var(--flag-grey-300);
            width: calc(var(--flag-space-lg) + var(--flag-space-2xs));
          }
        }
      }
    }
  }

  .entity-info {
    gap: var(--flag-space-xs);

    flag-card-header {
      gap: var(--flag-space-2xs);

      .subtitle {
        color: var(--flag-secondary-700);
      }
    }
  }

  @media screen and (max-width: 50rem) {
    align-content: flex-start;
    grid-template-columns: 1fr;

    flag-tab-group {
      display: initial;
    }

    .flag-info,
    .entity-info {
      display: none;

      &.active {
        display: initial;
      }
    }

    .flag-info {
      flag-card-header {
        display: none;
      }

      flag-card-content {
        .grid {
          flag-tag-group {
            margin-block: var(--flag-space-xl) var(--flag-space-xs);
          }
        }
      }
    }
  }
}